# Internals
_docs/**
_archive/**
clients/**

# dependencies
**/node_modules/**
**/.cache/**
**/.pnp/**
**/.pnp.js/**
**/yarn.lock

# production
**/build/**
**/dist/**
**/storybook-static/**
**/.next/**
**/out/**
**/.now/**

# functions output dir
packages/controller/functions/lib

# misc
**/coverage/**
**/.DS_Store
**/gv-collection-adminsdk.json
**/.env.*
**/hosting.*

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
